
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0
}

img {
    max-width: 100%;
}

#menu-logo {
    color:white;
    padding-bottom: 0.4rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    background-color: #000000;
}

.nav-menu > nav > a {
    padding: 1em 1.5em;
    text-decoration: none;
    color: white;
    display: none;
}

.nav-menu > nav > .mobile-btn {
    color: white;
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
}

.nav-menu > nav > a.active {
    background-color: #56c9d6;
    border-radius: 0.4em;
}

#menu-banner {
    height: 15rem;
    background-image: url('img/1.jpg');
    background-position: center 10%;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc(1261rem / 16);
    margin: auto;
}

.sec-1 > .card {
    /* border: 1px solid;    */
    margin: 1.5rem 0.5rem;
    padding: 0.5rem;
    width: calc(260rem / 16);
    max-width: calc(300rem / 16);
}

.sec-1 > .card > .card-img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.sec-1 > .card > .card-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.sec-1 > .card > .card-text {
    font-size: 1rem;
}

.sec-2 {
    background-color: #372019;
    padding: 4rem 4rem 6rem 4rem;
    display: flex;
    flex-direction: column;
}

.sec-sing {
    padding: 0 0.5rem;
    color: #8c5240;
}

.sec-sing > h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.sec-sing img {
    object-fit: cover;
}

.sec-col {
    max-width: calc(380rem / 16)
}

.sec-col > article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.sec-col > article > img {
    margin-right: 0.5rem;
    width: 5rem;
    height: 5rem;
}

.sec-col > article > p {
    color: #8c5240;
}

.post-lg > img {
    height: 10rem;
    width: 100%;
}


aside{
    background-color:#261611;
    color: #774535;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
    
    
}
.container-sidebar{
   width: 50%;
}

.paragha-article-4, a{
    padding-bottom: 20px;
    font-size: 1rem;
    color: #774535;
  
}

aside > div > ul{
    list-style-type: none;
    line-height: 2.5;
    color: #774535;
    padding: 0;
}

footer{
    background:#160d0a;
    color:  #774535;
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .nav-menu > nav > a {
        display: inline-block;
    }
    .nav-menu > nav > .mobile-btn {
        display: none;
    }
    #menu-banner {
        height: 25rem;
    }
}

@media screen and (min-width: 1200px) {
    .sec-1 {
        flex-wrap: nowrap;
    }
}


@media screen and (min-width: 640px) {
    .sec-2 {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sec-sing {
        flex: 1;
    }
    .post-lg {
        min-width: 100%;
        box-sizing: border-box;
    }
}


@media screen and (min-width: 1080px) {
    .sec-2 {
        flex-wrap: nowrap;
    }
    .sec-2 > .sec-col {
        min-width: 25%;
        width: 25%;
        box-sizing: border-box;
    }

    .sec-2 > .post-lg {
        min-width: 50%;
        width: 50%;
    }
    .sec-sing {
        flex: 0;
    }
}